*.iml
.gradle
.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetSelector.xml

/.idea/studiobot.xml
/.idea/runConfigurations/app.xml
/.idea/AndroidProjectSystem.xml
/.idea/limited-wip.xml
/.idea/appInsightsSettings.xml

.idea/deploymentTargetDropDown.xml
